@import "var";
[disabled] {
    cursor: not-allowed;
    opacity: $disabledOpacity;
    &:hover, &:focus, &:active {
        opacity: $disabledOpacity;
    }
}
@import "tree";
@import "select";
@import "button";